{% extends "wcbase.html" %}

{% block title %}admin login{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="main">
            <div class="box-small">
                <h1>admin login</h1>
                <form action="{{ url_for('main.login_handler') }}" method="post">
                    <input type="text" name="username" placeholder="username">
                    <br>
                    <input type="password" name="password" placeholder="password">
                    <br>
                    <input type="submit">
                </form>
                {% set flashes = get_flashed_messages() %}
                {% if flashes %}
                    <p>{{ flashes[-1] }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}