{% extends "wcpage.html" %}

{% macro social(icon_classes, link_href, link_text) %}
    <td><i class="{{ icon_classes }}"></i></td>
    <td class="padright"><a href="{{ link_href }}" target="_blank">{{ link_text }}</a></td>
{% endmacro %}

{% block title %}home{% endblock %}

{% block navbar %}
    {{ nav("home") }}
{% endblock %}

{% block content %}
    <h2>home</h2>
    <p>You have reached the interdimensional domicile of cease... Welcome to my website! On this site you can <a href="{{ url_for('main.about') }}">learn about me</a> and check out some of my <a href="{{ url_for('main.projects') }}">projects</a>. The site also includes some <a href="shhh">secrets</a>. Have fun exploring the site. If you have any ideas of what I should add, contact me using one of the methods below.</p>
    {% if mobile %}
        <p><span class="highlight">*Boing!*</span> We have detected that you are on mobile. This site functions on mobile, but it is most aesthetically pleasing on "computers." Please be sure to visit again when you have one of those!</p>
    {% endif %}
    <h2>contact me</h2>
    <table class="socials">
        <tr>
            {{ social("fa-brands fa-discord", "https://discord.com/users/743340045628342324", "@mogugatorade") }}
            {{ social("fa-solid fa-envelope", "mailto:nya@dr.com", "nya@dr.com") }}
        </tr>
        <tr>
            {{ social("fa-brands fa-github", "https://github.com/cas-14", "@cas-14") }}
            {{ social("fa-solid fa-key", url_for("main.static", filename="weirdcease_public.asc"), "public key") }}
        </tr>
        <tr>
            {{ social("fa-brands fa-lastfm", "https://www.last.fm/user/weirdcease", "@weirdcease") }}
            {{ social("fa-solid fa-music", "https://rateyourmusic.com/~weirdcease", "~weirdcease") }}
        </tr>
    </table>
    <noscript><span>those won't have logos unless you use js, sorry</span></noscript>
    <h2>more info</h2>
    <p>Everything here is coded from the ground up, although I got some help from the internet on how to do it. This site is made with Flask, a Python framework, and it runs on a little box in my room. I plan to write <a href="{{ url_for('main.blog') }}">blog posts</a> about this soon.</p>
{% endblock %}